.icon {
  margin-left: 5px;
  margin-right: 5px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a.chosenCategory, a:hover.chosenCategory, a:focus.chosenCategory, a:active.chosenCategory{
  color:#D6A04B;
}

.iconSection {
  text-align: right;
}

.titleArea{
  min-height: 125px;
}

.projectView {
  margin-top:25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
}

@media only screen and (max-width: 920px) {
  .projectView{
    width:85%;
  }
  .buttonContainer{
    width: 95% !important;
    margin-top:15px;
  }
}

#schoolIcon{
  float:right;
}

.projectCard {
  margin-bottom: 50px;
  display: inline-block;
  text-align: left;
  width:400px;
  margin-left:25px;
  margin-right:25px;
}
.noProjectsView{
  width: 95%;
  margin-top:75px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

#soonText{
  font-size: 20px;
}

#noProjectsText{
  margin-top: 25px;
  font-size: 25px;
}
.center{
  text-align: center;
}

.image{
  width:90%;
  margin-bottom: 10px;
}

.categoryButton{
margin-right:10px;
}

.buttonContainer{
  margin-top:10px;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  text-align: right;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #9FA9B1 !important;
}



.lastCard{
  width: 100%;
}


