<div id="mainMenu">
<ul>
  <li><a routerLink="" (click)="chosenMenu='home'" [class.selectedMenuItem]="chosenMenu == 'home'">Home</a></li> |
  <li><a routerLink="/about" (click)="chosenMenu='about'"[class.selectedMenuItem]="chosenMenu == 'about'">About</a></li> |
  <li><a routerLink="/portfolio"(click)="chosenMenu='portfolio'"[class.selectedMenuItem]="chosenMenu == 'portfolio'">Portfolio</a></li> |
  <li><a routerLink="/contact"(click)="chosenMenu='contact'"[class.selectedMenuItem]="chosenMenu == 'contact'">Contact</a></li>
</ul>
</div>
<div id="mobileMenu">
  <div id="menuButton" (click)="isCollapsed = !isCollapsed"
       [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
    <fa-icon id="menuIcon" size="2x" [icon]="barsIcon"></fa-icon>
  </div>
  <div id="collapseBasic" (click)="clickMenu()" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="well well-lg card card-block card-header"><a routerLink="" (click)="chosenMenu='home'" [class.selectedMenuItem]="chosenMenu == 'home'">Home</a></div>
    <div class="well well-lg card card-block card-header"><a routerLink="/about" (click)="chosenMenu='about'"[class.selectedMenuItem]="chosenMenu == 'about'">About</a></div>
    <div class="well well-lg card card-block card-header"><a routerLink="/portfolio"(click)="chosenMenu='portfolio'"[class.selectedMenuItem]="chosenMenu == 'portfolio'">Portfolio</a></div>
    <div class="well well-lg card card-block card-header"><a routerLink="/contact"(click)="chosenMenu='contact'"[class.selectedMenuItem]="chosenMenu == 'contact'">Contact</a></div>
  </div>
</div>
