ul {
  list-style-type: none;
  padding: 0;
  width: 70%;
  margin: auto;
  text-align: center;
}

li {
  display: inline-flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
}

a {
  font-family: 'Farro', Farro-light;
  align-self: center;
  color: black;
}

a:hover {
  color: #C74637;
  text-decoration: none;
}

#menuIcon {
  margin-right: 25px;
}


#mobileMenu {
  width: 100%;
}

#menuButton {
 text-align: right;
}

.selectedMenuItem {
  color: #D6A04B;
}

@media only screen and (max-width: 650px) {
  #mainMenu {
    display: none;
  }

  #mobileMenu {
    display: inline-block;
  }
}

@media only screen and (min-width: 651px) {
  #mobileMenu {
    display: none;
  }
}

.collapsedItems{
  text-align: center;
}
