<ul>
  <li><a routerLink="" (click)="chosenMenu='home'" [class.selectedMenuItem]="chosenMenu == 'home'">Home</a></li> |
  <li><a routerLink="/about" (click)="chosenMenu='about'"[class.selectedMenuItem]="chosenMenu == 'about'">About</a></li> |
  <li><a routerLink="/portfolio"(click)="chosenMenu='portfolio'"[class.selectedMenuItem]="chosenMenu == 'portfolio'">Portfolio</a></li> |
  <li><a routerLink="/contact"(click)="chosenMenu='contact'"[class.selectedMenuItem]="chosenMenu == 'contact'">Contact</a></li>
</ul>
