<div id="mainSection">
  <div class="infoSection rounded">
    <img class="headline" src="assets/images/myself.png">
    <div class="textSection">
      <p>I am a 31-year-old man living in Esbjerg, where I spent a lot of time programming and developing. Besides
        typing
        on a keyboard I like being active by going for a long walk with my dog, riding my bike or working out.
        Being healthy is overall an important aspect of my life, which also can be seen at my desk, which is
        ever-evolving
        to become as a ergonomic as possible, so I can do what I enjoy the most.
        I enjoy being creative and making things that brings joy to others. That being code-related or making music,
        which
        I spend a lot of time on as well, which can be seen on my Youtube channel, where I share my work for others to
        see
        or hear. </p>
    </div>
  </div>

  <div class="infoSection rounded">

    <img class="headline" src="assets/images/education.png">
    <div class="textSection">
      <p>In 2018 I decided to begin studying Computer Science (CS) in Esbjerg, which ended up being one of the best
        decisions of my life. Prior to that I had almost zero experience with programming, but after the first few
        months, where we learned the basics of programming, I quickly fell in love with the occupation. The fact that a
        specific character sequence can solve real world problems is very intriguing and motivates me to learn more.
        After I graduate I plan to further my studies by getting a Bachelor Degree in Software Development.

    </div>
  </div>

  <div class="infoSection rounded">

    <img class="headline" src="assets/images/skills.png">
    <div class="textSection">
      <p>During my studies I have acquired several CS skills ranging from building Rest APIs using .NET Core to building
        games using the Unity Engine. Instead of putting all my technical skills into writing I highly recommend
        checking out the
        portfolio section of this website, where I am sharing selected projects, which showcase what I can do. What I
        consider my most valuable skill is my ability to quickly look at a problem, come up with several solutions
        for it and implement the one, which is the best fit</p>
    </div>
  </div>
</div>
