#mainSection{
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right:auto;
}

@media only screen and (max-width: 850px) {
  #mainSection{
    width:85%;
  }
}

.infoSection{
  margin-bottom: 50px;
  width: 100%;
  height: fit-content;
  border:  solid 5px #3B4949;

}
p{
  font-size: 18px;
  text-align: justify;
}

.textSection{
  margin-top:5px;
  margin-left:10px;
  margin-right:10px;
}


#skillsSection{

}

.loader{
  margin-top:50px
}

.headline{
  width: 100%;
  border-bottom:  solid 5px #3B4949;
}
