#contact, #socialSection p, a{
  color: black;
}



#contact {
  display: flex;
}

#header p {
  font-family: 'Farro', 'Farro', Farro-b;
  font-size: 45px;
  color: #9FA9B1;
}

#socializeHeader p {
  font-family: 'Farro', 'Farro', Farro-b;
  font-size: 35px;
  color: #9FA9B1;
}

#socializeHeader{
  margin-top: 10px;
}

.mainSection {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 700px;
}

#iconSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.icon{
  margin-left: 15px;
  margin-right: 15px;
}

#iconSection a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
