<div class="mainSection">
  <div id="header">
    <p>Want to get in touch?</p>
  </div>
  <div id="contact">
    <p>Feel free to contact me by e-mail at the following address:&nbsp;</p>
      <a href="mailto: philipv.music@gmail.com">
        philipv.music@gmail.com
      </a>
  </div>
  <div id="socialMedia">
    <div id="socializeHeader">
      <p>Let's socialize</p>
    </div>
    <div id="socialSection">
      <p>Follow my social media accounts to get notified about my latest work, studies or life in general.</p>
    </div>
    <div id="iconSection">
      <a href="https://www.github.com/PhilipVJ">
        <fa-icon class="icon" size="4x" [icon]="gitHubLogo"></fa-icon>
      </a>
      <a href="https://www.youtube.com/channel/UCE9rcfrVhgjS3WNQkLF8dxw">
        <fa-icon class="icon" size="4x" [icon]="youtubeLogo"></fa-icon>
      </a>
      <a href="https://www.facebook.com/philip.jensen.77">
        <fa-icon class="icon" size="4x" [icon]="facebookLogo"></fa-icon>
      </a>
    </div>
  </div>

</div>
