.errorSection {
  margin: 50px auto;
  width: 95%;
  text-align: center;
}

#header {
  font-size: 50px;
}

#message {
  margin-top: 15px;
  font-size: 24px;
}

#frontPageMessage {
  font-size: 16px;
}

a {
  color: #9FA9B1;
}

a:hover {
  color: #C74637;
  text-decoration: none;
}
