
<div class="welcomeSection">
  <img id="welcomeImage" src="assets/images/welcome.png" class="center">
</div>
<div id="infoSection" class="rounded">
  <carousel [interval]="7000">
    <slide>
      <img src="assets/images/carousel/slide1.png" alt="first slide" style="width: 100%;">
      <div class="carousel-caption">
        <h3 class="headLine">Updates incoming</h3>
        <p class="text">I am currently working on 3 new projects, which all will be released in June</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/carousel/slide2.png" alt="second slide" style="width: 100%;">
      <div class="carousel-caption">
        <h3 class="headLine">Internship after summer</h3>
        <p class="text">If you are looking for a new employee - feel free to contact me since I haven't found a place yet</p>
      </div>
    </slide>
  </carousel>
</div>
