.welcomeSection{
margin-top: 50px;
}

p{
  font-family: 'Farro',  Farro-light;
  align-self:center;
  color:black;
}

#welcomeImage{
  width:640px;

}
@media only screen and (max-width: 650px) {
  #welcomeImage{
    width:80%;
  }

  #infoSection{
    width: 80% !important;
  }

}

#infoSection{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  border:  solid 5px #3B4949;
}


.headLine{
  color: #D6A04B;
}

.text{
  color: white;
}
